data/*
cache/*
!vendor/
lib/
vendor/*
!vendor/_required/
app/controllers/
app/views/
app/modules/
app/scripts/
app/styles/
app/fonts/

*.log
*.lock
app.ini
lib.json
!.htaccess
!readme.txt

.helpers
.views
.cache
.audit
.project

